header
  div#contentWrapper
    h1 Rhythm & Music
div#contentWrapper
  p Play around with pointsonaplane and density functions on them. How? Clicking on the canvas greates points on it. 
    | You can switch on and off different density functions for the points on the canvas. 
    | So... see this sweet settings-section? Go and have fun. That'a boy.
  include password
    