header
  div#contentWrapper
    h1 Rhythm & Music
div#contentWrapper
  p Feel the music? That's right. Play it with your password like you allways to. At first at the training box, 
    | then check for fun typing with other rhythm if it works or not. Probably not. 
  include password
    