!!! html
html
  head
    title HTML5 Canvas
    link(rel='stylesheet', href='/stylesheets/password.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/Ext.js')
    script(src='/javascripts/Dataset.js')
    script(src='/javascripts/Example.js')
    script(src='/javascripts/Raporter.js')
    script(src='/javascripts/Oracle.js')
    script(src='/javascripts/RythmField.js')
    script(src='/javascripts/CheckField.js')
    script(src='/javascripts/sylvester.0.1.3/sylvester.src.js')
    script(src='/javascripts/extendSylvester.js')
    script(src='/javascripts/password.js')
  body!= body