div#leftContent
  div
    label(for="pass") Train here:
    input(name="pass").trainField
  div
    label(for="passCheck") Check here:
    input(name="passCheck").checkField
  div.checkStatus
    u Check status
  div 
    label(for="raport") Training results:
  div.raport
    i There are none yet.